# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
pip install gmaps

Collecting gmaps
  Downloading https://files.pythonhosted.org/packages/4c/aa/4e659d3ab6efe55c265d8159c845e9168e4c79045aef8e5460f9511cc3a7/gmaps-0.9.0.tar.gz (1.1MB)
Requirement already satisfied: ipython>=5.3.0 in c:\users\jacob\anaconda3\lib\site-packages (from gmaps) (7.8.0)
Requirement already satisfied: ipywidgets>=7.0.0 in c:\users\jacob\anaconda3\lib\site-packages (from gmaps) (7.5.1)
Requirement already satisfied: traitlets>=4.3.0 in c:\users\jacob\anaconda3\lib\site-packages (from gmaps) (4.3.3)
Collecting geojson>=2.0.0 (from gmaps)
  Downloading https://files.pythonhosted.org/packages/e4/8d/9e28e9af95739e6d2d2f8d4bef0b3432da40b7c3588fbad4298c1be09e48/geojson-2.5.0-py2.py3-none-any.whl
Requirement already satisfied: six in c:\users\jacob\anaconda3\lib\site-packages (from gmaps) (1.12.0)
Requirement already satisfied: pickleshare in c:\users\jacob\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (0.7.5)
Requirement already satisfied: decorator in c:\users\jacob\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (4.4.0)
Requirement already satisfied: jedi>=0.10 in c:\users\jacob\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (0.15.1)
Requirement already satisfied: pygments in c:\users\jacob\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (2.4.2)
Requirement already satisfied: backcall in c:\users\jacob\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (0.1.0)
Requirement already satisfied: colorama; sys_platform == "win32" in c:\users\jacob\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (0.4.1)
Requirement already satisfied: setuptools>=18.5 in c:\users\jacob\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (41.4.0)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in c:\users\jacob\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (2.0.10)
Requirement already satisfied: widgetsnbextension~=3.5.0 in c:\users\jacob\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->gmaps) (3.5.1)
Requirement already satisfied: ipykernel>=4.5.1 in c:\users\jacob\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->gmaps) (5.1.2)
Requirement already satisfied: nbformat>=4.2.0 in c:\users\jacob\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->gmaps) (4.4.0)
Requirement already satisfied: ipython-genutils in c:\users\jacob\anaconda3\lib\site-packages (from traitlets>=4.3.0->gmaps) (0.2.0)
Requirement already satisfied: parso>=0.5.0 in c:\users\jacob\anaconda3\lib\site-packages (from jedi>=0.10->ipython>=5.3.0->gmaps) (0.5.1)
Requirement already satisfied: wcwidth in c:\users\jacob\anaconda3\lib\site-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython>=5.3.0->gmaps) (0.1.7)
Requirement already satisfied: notebook>=4.4.1 in c:\users\jacob\anaconda3\lib\site-packages (from widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (6.0.1)
Requirement already satisfied: jupyter-client in c:\users\jacob\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (5.3.3)
Requirement already satisfied: tornado>=4.2 in c:\users\jacob\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (6.0.3)
Requirement already satisfied: jupyter-core in c:\users\jacob\anaconda3\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (4.5.0)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in c:\users\jacob\anaconda3\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (3.0.2)
Requirement already satisfied: jinja2 in c:\users\jacob\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (2.10.3)
Requirement already satisfied: Send2Trash in c:\users\jacob\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.5.0)
Requirement already satisfied: nbconvert in c:\users\jacob\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (5.6.0)
Requirement already satisfied: prometheus-client in c:\users\jacob\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.7.1)
Requirement already satisfied: terminado>=0.8.1 in c:\users\jacob\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.8.2)
Requirement already satisfied: pyzmq>=17 in c:\users\jacob\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (18.1.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\jacob\anaconda3\lib\site-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (2.8.0)
Requirement already satisfied: pywin32>=1.0; sys_platform == "win32" in c:\users\jacob\anaconda3\lib\site-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (223)
Requirement already satisfied: attrs>=17.4.0 in c:\users\jacob\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (19.2.0)
Requirement already satisfied: pyrsistent>=0.14.0 in c:\users\jacob\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (0.15.4)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\jacob\anaconda3\lib\site-packages (from jinja2->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.1.1)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\jacob\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.4.2)
Requirement already satisfied: testpath in c:\users\jacob\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.4.2)
Requirement already satisfied: mistune<2,>=0.8.1 in c:\users\jacob\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.8.4)
Requirement already satisfied: entrypoints>=0.2.2 in c:\users\jacob\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.3)
Requirement already satisfied: defusedxml in c:\users\jacob\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.6.0)
Requirement already satisfied: bleach in c:\users\jacob\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (3.1.0)
Requirement already satisfied: webencodings in c:\users\jacob\anaconda3\lib\site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.5.1)
Building wheels for collected packages: gmaps
  Building wheel for gmaps (setup.py): started
  Building wheel for gmaps (setup.py): finished with status 'done'
  Created wheel for gmaps: filename=gmaps-0.9.0-py2.py3-none-any.whl size=2076101 sha256=17d460dbb036e6b2fac4f2cc2457cbe7ab8b65d2897f50eb60dd7afb0ab0bbce
  Stored in directory: C:\Users\jacob\AppData\Local\pip\Cache\wheels\33\eb\41\5302168c36fc8ce8f48143bb58fde1015d5bc0c62bc3ddbb38
Successfully built gmaps
Installing collected packages: geojson, gmaps
Successfully installed geojson-2.5.0 gmaps-0.9.0
Note: you may need to restart the kernel to use updated packages.

In [3]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [6]:
city_data_df = pd.read_csv("../output_data/cities.csv")
city_data_df.head()

,ID,City,Lat,Lng,Cloudiness,Wind Speed,Humidity,Max Temp,Country,Date
0,0,georgetown,5.41,100.34,20,2.24,94,78.80,MY,1595202546
1,1,les cayes,18.20,-73.75,100,5.44,75,80.91,HT,1595202546
2,2,zyryanka,65.75,150.85,10,15.70,41,75.40,RU,1595202546
3,3,bluff,-46.60,168.33,75,3.00,83,39.00,NZ,1595202546
4,4,wajir,1.75,40.06,85,17.20,68,72.64,KE,1595202546

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [8]:
gmaps.configure(api_key=g_key)

In [25]:
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locs, weights=humidity, dissipating=False, max_intensity=300,point_radius=5)
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [26]:
new_city_df = city_data_df.loc[(city_data_df["Max Temp"]<80) & (city_data_df["Max Temp"]>70) \
                              &(city_data_df["Wind Speed"]<10) \
                              &(city_data_df["Cloudiness"] == 0)].dropna()
new_city_df

,ID,City,Lat,Lng,Cloudiness,Wind Speed,Humidity,Max Temp,Country,Date
21,21,ajdabiya,30.76,20.23,0,9.66,70,72.10,LY,1595202548
68,68,boysun,38.21,67.20,0,4.07,22,73.60,UZ,1595202555
85,85,surt,31.21,16.59,0,9.55,78,76.26,LY,1595202558
95,95,kallithea,37.95,23.70,0,3.56,64,79.00,GR,1595202559
103,103,rio brilhante,-21.80,-54.55,0,9.53,48,71.08,BR,1595202560
118,118,gornoye loo,43.71,39.60,0,2.24,88,73.40,RU,1595202562
151,151,manavgat,36.79,31.44,0,1.68,88,77.00,TR,1595202567
228,228,marsa matruh,31.35,27.25,0,7.76,80,74.97,EG,1595202599
283,283,hyeres,43.12,6.12,0,6.42,77,73.99,FR,1595202607
296,296,lithakia,37.72,20.83,0,8.05,60,73.40,GR,1595202609
314,314,erzin,36.96,36.20,0,1.70,80,79.00,TR,1595202611
353,353,binzhou,37.37,118.02,0,7.20,54,79.38,CN,1595202618
371,371,shubarshi,48.59,57.19,0,6.11,43,74.35,KZ,1595202620
455,455,fuerte olimpo,-21.04,-57.87,0,6.80,41,78.21,PY,1595202632
456,456,ulaangom,49.98,92.07,0,1.77,48,72.30,MN,1595202632
467,467,damghan,36.17,54.35,0,2.35,30,77.34,IR,1595202634
529,529,cherskiy,68.75,161.30,0,4.81,40,72.34,RU,1595202643

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [27]:
hotel_df = new_city_df[["City", "Country", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df

              City Country    Lat     Lng Hotel Name
21        ajdabiya      LY  30.76   20.23
68          boysun      UZ  38.21   67.20
85            surt      LY  31.21   16.59
95       kallithea      GR  37.95   23.70
103  rio brilhante      BR -21.80  -54.55
118    gornoye loo      RU  43.71   39.60
151       manavgat      TR  36.79   31.44
228   marsa matruh      EG  31.35   27.25
283         hyeres      FR  43.12    6.12
296       lithakia      GR  37.72   20.83
314          erzin      TR  36.96   36.20
353        binzhou      CN  37.37  118.02
371      shubarshi      KZ  48.59   57.19
455  fuerte olimpo      PY -21.04  -57.87
456       ulaangom      MN  49.98   92.07
467        damghan      IR  36.17   54.35
529       cherskiy      RU  68.75  161.30

In [29]:
#set params
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key
}
#Iteration
for index, row in hotel_df.iterrows():
    lat= row["Lat"]
    lng= row["Lng"]
    
    params["location"] = f"{lat}, {lng}"
    
    url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    hotel_req = requests.get(url, params=params)
    
    hotel_req = hotel_req.json()
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotel_req["results"][0]["name"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
hotel_df

Missing field/result... skipping.

              City Country    Lat     Lng                       Hotel Name
21        ajdabiya      LY  30.76   20.23                     فندق التوجان
68          boysun      UZ  38.21   67.20                       Gaza Hotel
85            surt      LY  31.21   16.59                       City Hotel
95       kallithea      GR  37.95   23.70                    Central Hotel
103  rio brilhante      BR -21.80  -54.55                    Hotel Cattani
118    gornoye loo      RU  43.71   39.60             «ВатерЛоо» гостиница
151       manavgat      TR  36.79   31.44    Lake & River Side Hotel & Spa
228   marsa matruh      EG  31.35   27.25                        Beau Site
283         hyeres      FR  43.12    6.12  ibis budget Hyères Centre-Ville
296       lithakia      GR  37.72   20.83   Zante Plaza Hotel & Apartments
314          erzin      TR  36.96   36.20                     Artemis Otel
353        binzhou      CN  37.37  118.02        Hampton By Hilton Binzhou
371      shubarshi      KZ  48.59   57.19
455  fuerte olimpo      PY -21.04  -57.87              Hotel Fuerte Olimpo
456       ulaangom      MN  49.98   92.07    Achit Nuur Hotel & Restaurant
467        damghan      IR  36.17   54.35    خوابگاه اساتيد دانشگاه دامغان
529       cherskiy      RU  68.75  161.30                       Gostinitsa

In [30]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [31]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Display Map
fig

Figure(layout=FigureLayout(height='420px'))